body
{background-image: url(background.png);
background-size:  700px 1000px;
background-repeat: no-repeat;
background-position: 0px 0px ;
margin: none;
}

h1
{font-family:'Bebas Neue', sans-serif;
margin: 10px 0px 0px 40px;
font-size: 80px;}

p
{font-family:'Bebas Neue', sans-serif;
margin-left: 40px;
margin-top: 0;
font-size: 30px;}

#barra
{background-color: black;
padding: 20px 20px 20px 40px ;
margin-top: 0%;}

.R {
    width:500px;
float: right;
}

.L {
    width:500px;
    float: left;
}

